.main-container{
    background-color: #dfdfdf;
    height: 90vh;
    width: 90vw ;
    display: flex;
    border-radius: 40px;
}

.side-panel{
    background-color:#dfdfdf;
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

.chatArea-container{
    background-color:rgb(156, 156, 156);;
    flex: 0.7;
}

/* SIDE PANEL*/
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons-dark{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sp-header {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.sp-header-dark {
    background-color: var(--neutral-active, #0F1828);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    
}

.sp-search {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);

}
.sp-search-dark{
    background-color: var(--neutral-active, #0F1828);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.search-box {
    outline-width: 0;
    border: none;
    font-size: 1rem;
    margin-left: 15px;
    flex: 1;
    border-radius: 20px;
    padding: 10px;
    
}
.search-box-dark{
    background-color: var(--neutral-active, #0F1828);
    outline-width: 0;
    border: none;
    font-size: 1rem;
    margin-left: 15px;
    flex: 1;
    border-radius: 20px;
    padding: 10px;
    color: #FFFFFF;
}

.sp-chatsection {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.sp-chatsection-dark{
    background-color: var(--neutral-active, #0F1828);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
/* Chat Component */
.chat-box {
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    overflow: scroll;
    transition-duration: 0.5s;
    color: var(--neutral-active, #0F1828);
        /* Body/01 */
        font-family: 'Karla', sans-serif;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        /* 171.429% */

}
.chat-box:hover{
    background-color: #b7b6b6;
}
.chat-box:active{
    background-color: #dfdfdf;
}
.chat-box::-webkit-scrollbar{
    display: none;
}

.chat-icon{
    grid-area: 1/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 156, 156);
        

    font-size: 2rem;
    font-weight: bolder;
    color: #FFFFFF;
    height: 32px;
    width: 32px;
    padding: 2px;
    border-radius: 50%;
    justify-content: center;
    align-self: center;

}
.chat-name{
    grid-area: 1/2/2/4;
    justify-content: center;
    align-self: center;
    font-weight: bold;
}
.chat-name-dark{
    grid-area: 1/2/2/4;
        justify-content: center;
        align-self: center;
        font-weight: bold;
        color: #F7F7FC;
}
.chat-lastmessage{
    font-size: 14px;
}
.chat-lastmessage-dark {
    color: #ADB5BD;
    font-size: 14px;
}
.chat-timestap{
    font-size: 0.75rem;
    justify-self: flex-end;
    justify-content: center;
    align-self: center;
  
}
.chat-timestap-dark{
    color:#ADB5BD;
    font-size: 0.75rem;
    justify-self: flex-end;
    justify-content: center;
    align-self: center;
}

/* CHAT AREA */
.chatArea-container{
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    flex: 0.7;
   

}
.chatArea-header{
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: white;
   padding: 10px 10px;
   margin: 10px;
   border-radius: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
font-family: 'Karla', sans-serif;
    font-family: 'Rubik', sans-serif;

}
.header-text{
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.chatArea-messages{
    background-color: white;
    flex: 1;  
    overflow: scroll;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.chatArea-messages::-webkit-scrollbar{
    display: none;
}
.self-message-container{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 20px;
    font-family: 'Karla', sans-serif;
        font-family: 'Rubik', sans-serif;
    

}
.other-message-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    font-family: 'Karla', sans-serif;
        font-family: 'Rubik', sans-serif;

}
.message-box {
    background-color: wheat;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
}
.chatArea-input{
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.self-timestap{
    font-size: 0.75rem;
    display: flex;
    justify-content: flex-end;
}

/* WELCOME PAGE */
.welcome-page-container{
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #888888;
    
    
}
.welcome-page-text{
    color: var(--neutral-active, #0F1828);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
}
.welcome-button{
    margin: 10px;
    color: #FFFFFF;
    display: flex;
    width: 327px;
    padding: 12px 48px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    background: var(--brand-color-default, #002DE3);
}

/* Create Groups Container */
.createGroups-container {
    align-self: center;
    padding: 20px 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex: 0.7;

}

.group-name {
    border: none;
    font-size: 1rem;
    margin: 10px;
    border-radius: 20px;
    outline: none; 
}
/* Login Page */
.login-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #888888;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 100px; 
    padding-bottom: 100px;  
}
.user-name{
    border: none;
    font-size: 1rem;
    margin: 10px;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    width: 327px;
    
}
.user-password{
    border: none;
    font-size: 1rem;
    margin: 10px;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    width: 327px;

}
.login-button{
    margin: 10px;
    color: #FFFFFF;
    display: flex;
    width: 327px;
    padding: 12px 48px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    background: var(--brand-color-default, #002DE3);
    
}
.login-icon{
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

/* User_groups */
.user-group-container{
    flex: 0.7;
    display: flex;
    flex-direction: column;

}
.user-group-header{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
    box-shadow: 5px 5px 10px #888888;
}
.user-box{
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 10px #888888;
    transition-duration: 0.5s;
}
.user-box:hover{
    background-color: #c4c4c4;
}

.user-icon{
    grid-area: 1/1/3/2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    
        font-size: 2rem;
        font-weight: bolder;
        color: #FFFFFF;
        height: 32px;
        width: 32px;
        padding: 2px;
        border-radius: 50%;
        justify-content: center;
        align-self: center;

}
.user-name{
    grid-area: 1/2/2/4;
    justify-content: center;
    align-self: center;
    font-weight: bold;
    user-select: none;
}
.contacts-logo{
    margin: 8px;
}
.users{
    overflow: scroll;
}
.users::-webkit-scrollbar {
    display: none;
}
