.main-container{
    background-color: #FFFFFF;
    height: 90vh;
    width: 90vw ;
    display: flex;
    border-radius: 40px;
}

.side-panel{
    background-color: rgb(156, 156, 156);
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

.chatArea-container{
    background-color:rgb(156, 156, 156);;
    flex: 0.7;
}

/* SIDE PANEL*/
.sp-header {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.sp-search {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    display: flex;

}
.search-box {
    outline-width: 0;
    border: none;
    font-size: 1rem;
    margin-left: 10px;
    flex: 1;
}

.sp-chatsection {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    flex: 1; 
}

/* Chat Component */
.chat-box {
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    overflow: scroll;
}
.chat-box::-webkit-scrollbar{
    display: none;
}

.chat-icon{
    grid-area: 1/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    font-size: 2rem;
    font-weight: bolder;
    color: #FFFFFF;
    height: 32px;
    width: 32px;
    padding: 2px;
    border-radius: 50%;
    justify-content: center;
    align-self: center;

}
.chat-name{
    grid-area: 1/2/2/4;
    justify-content: center;
    align-self: center;
    font-weight: bold;
}
.chat-lastmessage{
    
}
.chat-timestap{
    font-size: 0.75rem;
    justify-self: flex-end;
    justify-content: center;
    align-self: center;
}

/* CHAT AREA */
.chatArea-container{
    display: flex;
    flex-direction: column;

}
.chatArea-header{
   display: flex;
   align-items: center;
   gap: 10px;
   background-color: white;
   padding: 10px 10px;
   margin: 10px;
   border-radius: 20px;

}
.header-text{
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.chatArea-messages{
    background-color: white;
    flex: 1;  
    overflow: scroll;

}
.chatArea-messages::-webkit-scrollbar{
    display: none;
}
.self-message-container{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 20px;
    

}
.other-message-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;

}
.message-box {
    background-color: wheat;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
}
.chatArea-input{
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.self-timestap{
    font-size: 0.75rem;
    display: flex;
    justify-content: flex-end;
}

/* WELCOME PAGE */
